@import-normalize; /* bring in normalize.css styles */

:root {
  --color-white: rgb(255, 255, 255);
  --primary-text-color: rgb(1, 1, 1);
  --secondary-text-color: rgb(104, 102, 102);
  --secondary-bacground-color: rgb(220, 215, 215);
  --border-color: rgb(117, 116, 116);
  --color-green: rgb(0, 128, 0);
  --color-red: rgb(255, 99, 71);
  --light-blue-color: rgb(224, 255, 255);
  --dark-blue-color: rgb(84, 243, 243);
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  outline: none;
}
button:hover {
  cursor: pointer;
}
